$color1: #172339
$color4: #faf8f6

body
    background-color: $color4

.hbar
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 50px
    a
        border: 1px solid $color1
        padding: 10px 15px
        text-decoration: none
        color: $color1
    img
        height: fit-content
.hero
    display: flex
    justify-content: space-between
