$color1: #172339
$color2: #49566d
$color3: #f3ede7
$color4: #faf8f6
$color5: #a060ff
$color6: #cb30e3
$color7: #ffa84e

body
    background-color: $color4
    font-family: sans-serif
    margin: 0
    padding: 0
    transition: .5s

span
    font-weight: bolder
a
    text-decoration: none
    padding: 10px 15px
    border-radius: 5px
h2
    font-weight: 500
.hbar
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 50px
    margin: 0 0 50px
    a
        border: 1px solid $color1

        color: $color1
        &:hover
            color: $color4
            background-color: $color1
            transition: 250ms ease-out

    img
        height: fit-content
.hero
    display: flex
    justify-content: space-between
    margin-bottom: 250px

    div
        position: relative
        margin: 50px 50px
        display: flex
        flex-direction: column

        &:first-of-type
            max-width: 500px
            transform: translateX(70%)
            h1

                font-size: 3.5em

            img
                position: absolute
                left: 45%
            p
                width: 60%
                line-height: 1.75em
                color: $color2
            a
                color: $color4
                background-color: $color1
                width: max-content
                &:hover
                    background: linear-gradient(45deg, $color5,$color6,$color7)
                    background-color: none

        &:last-of-type
            width: 15%
            display: flex
            justify-content: center
            transform: translateX(-80%)
            p
                font-variant: all-small-caps
                color: $color2
                span
                    font-size: 2em
                    display: block
                    color: $color1

    & > img
        position: absolute
        left: 45%
        z-index: -10
.testimonial
    background-color: $color1
    display: flex
    border-radius: 10px
    max-width: 1109px
    margin: auto
    justify-content: space-around
    img
        transform: scale(1.15) translateY(-5.6%)
        &:first-of-type
            position: absolute
            transform: translateX(-20%)
            height: 399px
    div
        &:last-of-type
            max-width: 300px
        h2
            font-size: 3em
            color: $color4
        p
            line-height: 2em
            color: $color2
            font-weight: 200
            &:last-of-type
                line-height: 1em
        span
            color: $color4
            font-variant: all-small-caps
.footer
    background-color: $color3
    display: flex
    justify-content: space-between
    align-items: center
    z-index: -10
    height: 100px
